<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="hs.merseburg.miks13.wbs.WBSApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="hs.merseburg.miks13.wbs.Perspective"
            fixed="true"
            id="hs.merseburg.miks13.wbs.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Browse"
            class="hs.merseburg.miks13.wbs.MainView"
            id="hs.merseburg.miks13.wbs.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Export/Import">
            <command
                  commandId="hs.merseburg.miks13.wbs.export"
                  id="hs.merseburg.miks13.wbs.export"
                  label="export Wissensbasis"
                  style="push">
            </command>
            <command
                  commandId="hs.merseburg.miks13.wbs.import"
                  id="hs.merseburg.miks13.wbs.import"
                  label="import Wissensbasis"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="hs.merseburg.miks13.wbs.application"
            name="wissensaAcquisition">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="wissensaAcquisition">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="hs.merseburg.miks13.wbs.PropertyTesterWBSActive"
            id="hs.merseburg.miks13.wbs.iswbsaktivea"
            namespace="hs.merseburg.miks13.wbs"
            properties="iswbsaktive"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hs.merseburg.miks13.wbs.exportimport.CommandHandlerExport"
            commandId="hs.merseburg.miks13.wbs.export">
      </handler>
      <handler
            class="hs.merseburg.miks13.wbs.exportimport.CommandHandlerImport"
            commandId="hs.merseburg.miks13.wbs.import">
      </handler>
   </extension>

</plugin>
